 .parentdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 100vh;
    padding:3%;
    background-color: #e3e2e2;
 }
 .child1{
    /* background-color: green; */
    width: 30vw;
    height: 100%;
    padding: 2vw;
    background-color: white;

 }
 .child2 {
     /* background-color: pink; */
     width: 40vw;
    height: 100%;
    padding: 2vw;
    background-color: white;
 }
 .child3 {
     /* background-color: blue; */
     width: 30vw;
    height: 100%;
    padding: 2vw;
    background-color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

 }
 
/* .chat {
   position: absolute;
   bottom: 70px;
   right: 70px;
   background: pink;
} */
 .btn-div{
    margin-top: 6vh;
 }
 .btn-style{
            width: 40%;
            padding: 1vw;
            margin-right: .5vw;
            background-color: #d1adcc;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            color: white;
 }
  .two{
      background-color: #b986b2;
  }

  .btn-style:hover{
    background-color: #dbb3d6;
  }
  .two:hover{
    background-color: #b383ac;
  }